@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pinyon+Script&display=swap');

* {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #454545;
}

header {
    display: block;
    background-color: #333333;
    width: 100%;
    height: 200px;
    box-shadow: 1px 1px 10px black;
}

header h1 {
    padding-top: 50px;
    font-size: 5em;
    color: #333333;
    text-align: center;
    text-shadow: 1px 1px 30px white;
}

main {
    width: 80%;
    margin: 50px auto;
}
nav {
    margin: auto;
}


ul {
    display: block;
    margin: auto;
    list-style: none;
}

li {
    margin-right: 10px;
    display: inline;
}

ul li a {
    line-height: 3em;
    font-size: 1.5em;
    background-color: #333333;
    padding: 20px;
    text-decoration: none;
    box-shadow: 2px 2px 5px grey;
}

footer {
    width: 100%;
    padding: none;
    margin: none;
    text-align: center;
}