@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pinyon+Script&display=swap');

* {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #454545;
}

header {
    display: block;
    background-color: #333333;
    width: 100%;
    height: 200px;
    box-shadow: 1px 1px 10px black;
}

header h1 {
    padding-top: 50px;
    font-size: 5em;
    color: #333333;
    text-align: center;
    text-shadow: 1px 1px 30px white;
}

main {
    width: 80%;
    margin: 50px auto;
}

h1 {
    margin-bottom: 10px;
}

.labs {
    margin: 5px;
    line-height: 4em;
    font-size: 1.5em;
    background-color: #333333;
    padding: 20px;
    text-decoration: none;
    box-shadow: 0px 0px 30px grey;
    white-space: nowrap;
    transition: .09s;
}

.labs:hover {
    box-shadow: 0px 0px 30px white;
}

footer {
    width: 100%;
    padding: none;
    margin: none;
    text-align: center;
}

@media only screen and (max-width: 1300px) {
    header h1 {
        font-size: 3em;
        margin: auto 10px;
    }
}

@media only screen and (max-width: 500px) {
    header h1 {
        font-size: 2em;
        margin: auto 10px;
    }

    h1 {
        font-size: 1.5em;
    }
}