* {
    box-sizing: border-box;
}
/* These sections include bkgs that are not the same res */
#homehero {
    margin-left: 170px;
    height: 300px;
    background-image: url(../images/coast.jpg);
    /* this bkg spec was used to fix incorrect res*/
    background-size: 1000px, 300px;
    background-repeat: no-repeat;
}

#yurthero {
    margin-left: 170px;
    height: 300px;
    background-image: url(../images/yurt.jpg);
    /* this bkg spec was used to fix incorrect res*/
    background-size: 1000px, 300px;
    background-repeat: no-repeat;
}

#trailhero {
    margin-left: 170px;
    height: 300px;
    background-image: url(../images/trail.jpg);
    /* this bkg spec was used to fix incorrect res*/
    background-size: 1000px, 300px;
    background-repeat: no-repeat;
}

#wrapper {
    background-color: #90c7e3;
    min-width: 700px;
    max-width: 1024px;
    box-shadow: black;
    width: 80%;
    margin-right: auto;
    margin-left: auto;   
}

body {
    background-color: #3399cc;
    background-image: linear-gradient(to bottom, #3399cc,#c2e0f0,#3399cc);
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #000033;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    line-height: 200%;
    background-image: url(../images/sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 2em;
    height: 72px;
    margin-bottom: 0;
}

nav {
    font-weight: bold;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 0;
    padding-left: 20px;
    float: left;
    width: 160px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #000033;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #ffffff;
}

h2 {
    color: #3399cc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

dt {
    color: #000033;
    font-weight: bold;
}

.resort {
    color: #000033;
    font-size: 1.2em;
}

footer {
    background-color: #ffffff;
    margin-left: 170px;
    padding: 1em;
    font-size: 0.70em; 
    font-style: italic;
    text-align: center;
}

h3 {
    color: #000033;
}

main {
    background-color: #ffffff;
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    margin-left: 170px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

header, nav, main, footer {display: block;}

@media only screen and (max-width: 1024px) {
    body {
        margin: 0;
        padding: 0;
        background-image: none;
    }

    .wrapper {
        box-shadow: none;
    }

    h1 {margin: 0;}

    nav {
        float: none;
        width: auto;
        padding-top: 0.01em;
        padding-bottom: 0.01em;
        padding-left: 1em;
        padding-right: 1em;
    }

    nav li {
        display: inline-block;
    }

    nav a {
        padding-right: 2em;
    }

    main {
        padding: 1em;
        margin-left: 0;
        font-size: 90%;
    }

    footer {
        margin: 0;
    }

    #homehero, #yurthero, #trailhero {
        margin-left: 0;
    }

}

@media only screen and (max-width: 768px) {
    h1 {
        height: 100%;
        font-size: 1.5em;
        padding-left: 0.3em;
    }

    nav a{
        display: block;
        padding: 0.2em;
        font-size: 1.1em;
        border-bottom: #330000 1px;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav li {
        display: block;
        margin: 0;
        padding: 0;
    }

    main {
        padding-top: 0.1em;
        padding-right: 0.6em;
        padding-bottom: 0.1em;
        padding-left: 0.4em;
    }

    #homehero, #yurthero, #trailhero {
        display: none;
    }

    footer {
        padding: 0;
    }

    #mobile {display: inline;}
    #desktop {display: none;}
}