#homehero {
    height: 300px;
    background-image: url(../images/coast.jpg);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

#yurthero {
    height: 300px;
    background-image: url(../images/yurt.jpg);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

#trailhero {
    height: 300px;
    background-image: url(../images/trail.jpg);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

#wrapper {
    background-color: #ffffff;
    min-width: 700px;
    max-width: 1024px;
    box-shadow: black;
    width: 80%;
    margin-right: auto;
    margin-left: auto;   
}

body {
    background-color: #3399cc;
    background-image: linear-gradient(to bottom, #3399cc,#c2e0f0,#3399cc);
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #000033;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    line-height: 200%;
    background-image: url(../images/sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 2em;
    height: 72px;
    margin-bottom: 0;
}

nav {
    font-weight: bold;
    background-color: #90c7e3;
    padding-top: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    padding-left: 2em;
}

nav a {
    text-decoration: none;
}

h2 {
    color: #3399cc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

dt {
    color: #000033;
    font-weight: bold;
}

.resort {
    color: #000033;
    font-size: 1.2em;
}

footer {
    padding: 1em;
    font-size: 0.70em; 
    font-style: italic;
    text-align: center;
}

h3 {
    color: #000033;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    display: block;
}

