body {
    background-color: #ffffff;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #000033;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    line-height: 200%;
}

nav {
    font-weight: bold;
    background-color: #90c7e3;
}

h2 {
    color: #3399cc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

dt {
    color: #000033;
    font-weight: bold;
}

.resort {
    color: #000033;
    font-size: 1.2em;
}

footer {
    font-size: 0.70em; 
    font-style: italic;
    text-align: center;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}