@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0;
}

.wrapper {
    line-height: 200%;
    margin: auto;
}

.button {
    font-weight: bold;
    border: 2px solid #FF4f5a;
    padding: 15px;
    margin: 25px 0;
    transition: 0.5s;
    background-color: #FF4f5a;
    width: 7em;
    text-align: center;
}
.button a{
    text-decoration: none;
    color: #FFF;
}

.button:hover {
    background-color: #FFF;
    font-weight: bold;
}
.button a:hover{
    color: #FF4f5a;
}

header{
    width: 80%;
    float: none;
    margin: auto;
}
.logo {
float: left;
width: 30%;
}
.logo img {
    width: 120px;
}

nav {
    float: right;
    width: 70%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    float: right;
}

nav a{
    color: #FF4f5a;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    padding-left: 50px;
    display: block;
    transition: 0.5s;
}

div.banner {
    background: url(../images/background.jpg);
    background-repeat: none;
    background-size: 100%, 100%;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 0;
    margin: 0;
}

div.text-content {
    width: 60%;
    margin: 40px auto;
    padding-top: 200px;
    line-height: 400%;
}

.banner h1 {
    font-size: 50px;
    padding-top: 80px;
    margin: 0;
    color: #FF4f5a;
}

main {
    margin: 40px auto;
}

.column{
    float: left;
}
@media screen and (max-width: 600px) {
    .a-l{
        width: 100%;
    }
    .a-r{
        width: 100%;
    }
    .b-l{
        width: 100%;
    }
    .b-r{
        width: 100%;
    }
}
.row{
    width: 80%;
    margin: auto;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.a-l{
    width: 50%;
    text-align: left;
}
.a-r{
    margin: auto;
    width: 50%;
}
.a-r img {
    width: 100%;
}

.b-l{
    width: 50%;
    text-align: left;
}
.b-l img {
    width: 100%;
}
.b-r {
    width: 50%;
    text-align: left;
}

.triplecolumn{
    float: left;
    width: 33%;
    padding: 10px;
    text-align: center;
    margin-bottom: 2em;
}
.triplecolumn img{
    width: 60%;
}

footer{
    border-top: #FF4f5a solid 5px;
    color: #FFF;
    background-color: #4c737a;
    text-align: center;
}